version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: extrackr_db
      POSTGRES_USER: extrackr_user
      POSTGRES_PASSWORD: extrackr_password
    # The ports mapping is commented out for production if the database is not supposed to be accessed from outside the docker network.
    # ports:
    #   - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
        echo 'Waiting for postgres...' &&
        while ! nc -z db 5432; do
          sleep 0.1;
        done;
        echo 'PostgreSQL started';
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        gunicorn extrackr_project.wsgi:application --bind 0.0.0.0:8000 --workers 4
      "
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0
      - SECRET_KEY=your_very_secret_and_long_key_that_you_should_generate
      - DATABASE_URL=postgresql://extrackr_user:extrackr_password@db:5432/extrackr_db
      # Change this to your domain or IP address in production
      - ALLOWED_HOSTS=*
    depends_on:
      - db

volumes:
  postgres_data:
  static_volume:
  media_volume:
