version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: extrackr_db
      POSTGRES_USER: extrackr_user
      POSTGRES_PASSWORD: extrackr_password
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE_URL=postgresql://extrackr_user:extrackr_password@db:5432/extrackr_db
    depends_on:
      - db

volumes:
  postgres_data:
  static_volume:
  media_volume: